*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#faf7ef;

    font-family:"Courier Prime",monospace;

    padding:20px;

}

.page{

    width:100%;

    min-height:95vh;

    border:2px dashed #777;

    background:white;

    display:flex;

    flex-direction:column;

}

header{

    height:55px;

    display:grid;

    grid-template-columns:80px 80px 1fr 80px 80px;

    align-items:center;

    text-align:center;

    font-size:26px;

    user-select:none;

}

header span{

    cursor:pointer;

    transition:.2s;

}

header span:hover{

    color:gray;

}

#day{

    font-size:22px;

    font-weight:bold;

}

.line{

    height:1px;

    background:#777;

}

#content{

    flex:1;

    padding:25px;

    font-size:18px;

    line-height:1.8;

}

#content h1{

    margin-bottom:25px;

}

.footer{

    text-align:center;

    font-size:30px;

    margin:30px 0;

    font-style:italic;

    color:#666;

}

#musicBtn {
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    background: #ffb6c1;
    color: white;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

#musicBtn:hover {
    transform: scale(1.05);
}

